body {
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
}

.form {
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 0;
  width: 400px;
  height: 450px;
  text-align: center;
  background-color: #3d4498;
}

button {
  padding: 5px;
  width: 20%;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #f4c700;
  color: #3d4498;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

button:hover {
  background-color: #f4c700;
  transition: ease-in-out 0.5s;
}

input {
  padding: 15px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #f0f0f0;
  color: #3d4498;
}

h1 {
  color: white;
}

header,
footer {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: white;
  color: black;
  z-index: 999;
}

header {
  top: 0;
  height: 60px;
  background: rgb(61,68,152);
  background: linear-gradient(90deg, rgba(61,68,152,1) 29%, rgba(66,81,200,1) 100%);
  color: white;
}

footer {
  bottom: 0;
  height: 18px;
  font-size: 10px;
  background: rgb(61,68,152);
  background: linear-gradient(90deg, rgba(61,68,152,1) 29%, rgba(66,81,200,1) 100%);
  padding-top: 4px;
  color: white;
  border-top: 1px solid black;
}

.msg {
  color: red;
  background-color: white;
  padding: 5px;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.attempts {
  color: white;
}

.enter {
  color: White;
  background-color: green;
}

.enter:hover {
  background-color: darkgreen;
}

.clear {
  color: white;
  background-color: red;
}

.clear:hover {
  background-color: darkred;
}

